body{
  background-color:#efeff5;
}

li:hover{
  background-color:gray;
}

.jumbotron{
  margin-top:-27px;
  height:650px;
  background: black;
  color:white;
}

#jumbo-text{
  margin-top:70px;
}

.info-box{
  background:white;
  box-shadow: 0px 1px 1px 1px #46466d;
  margin: 20px 30px 20px 30px;
  padding: 15px;
}

.spacing {
  padding-left: 60px;
}

.maroon-text {
  color: #b30059;
}

.blue-text{
  color: #4775d1;
}

.light-blue-text{
  color: #668cff;
}

.dark-green-text{
  color: #006600;
}

.light-green-text{
  color: #00b386;
}

.bright-green-text{
  color:#00ff00;
}

.orange-text {
  color: orange;
}

/* Animation for the jumbotron */ 
#line1{
  color: white; 
  font-family: "Courier";
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 35em;
  animation: type 4s steps(60, end); 
}

#line2{
  color: white; 
  font-family: "Courier";
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 35em;
  animation: type2 6s steps(40, end); 
}

#line3{
  color: white; 
  font-family: "Courier";
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 40em;
  animation: type2 10.5s steps(55, end); 
}

#line4{
  color: white; 
  font-family: "Courier";
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 40em;
  animation: type3 17.5s steps(60, end); 
}

#line5{
  color: white; 
  font-family: "Courier";
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 40em;
  animation: type5 22s steps(60, end); 
}

#line6{
  color: white; 
  font-family: "Courier";
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 40em;
  animation: type5 26s steps(60, end); 
}

#blink {
  animation: blink 1s infinite;
}
@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes type3{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes type4{
  0%{width: 0;}
  50%{width: 0;}
  75%{width: 0;}
  95%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes type5{
  0%{width: 0;}
  50%{width: 0;}
  75%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink {
  to{opacity: .0;}
}
